@using Microsoft.AspNetCore.Html
@using Public.Models 
@code {

    [Parameter]
    public ColumnComp Column { get; set; }

}


    <div class="myeditablediv-header p-3" id="@Column.ID">
        @(new MarkupString(Column.Content))
        
    </div>

  
