@using Microsoft.AspNetCore.Html
@using Public.Models 
@code {

    [Parameter]
    public ColumnComp Column { get; set; }

}


    <h1 class="myeditablediv-header" id="@Column.ID">
        @(new MarkupString(Column.Content))
        
    </h1>

  
