@using Microsoft.AspNetCore.Html
@using Public.Models

@code 
{
    [Parameter]
    //public PageComponent Comp { get; set; }
    public ColumnComp Column { get; set; }

}
<div class="myeditablediv h-100 p-3" id=@(Column.ID)>@(new MarkupString(Column.Content)) </div>