@using Microsoft.AspNetCore.Html
@using Public.Models

@code 
{
    [Parameter]
    //public PageComponent Comp { get; set; }
    public ColumnComp Column { get; set; }

}
<div class="myeditablediv" id=@(Column.ID)>@(new MarkupString(Column.Content)) </div>