@using Microsoft.AspNetCore.Html
@using Public.Models

@code 
{
    [Parameter]
    public PageComponent Comp { get; set; }
    

}
<div class="myeditablediv col-7" id=@(Comp.ID)>@(new MarkupString(Comp.Content)) </div>