@using Public.Models
@code {
    [Parameter]
    public PageComponent Comp { get; set; }
    [Parameter]
    public ColumnComp Column { get; set; }
    [Parameter]
    public int PageId { get; set; }
    [Parameter]
    public int CompId { get; set; }
    [Parameter]
    public bool Display { get; set; }
}
<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/@Column.VideoString" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
@if (!Display)
{
    <input type="text" name="VideoString" value="@Column.VideoString" />
    <button formaction="?handler=SetVideo&compid=@CompId&pageid=@PageId&displayorder=@Column.DisplayOrder">Set video</button>
}
