@page "{projectname}"
@model Public.Pages.display.IndexModel
@using Microsoft.AspNetCore.Html
@{
}

@if (Model.CurrentPage == null)
{
   

    


}
else
{
    <p>Page id is @Model.PageId</p>
    <div>
        
            @(new HtmlString(Model.CurrentPage.PageBody))
        
    </div>
    //Html.Raw(Model.CurrentPage.PageBody);
}

