@page "{projectname}"
@model Public.Pages.display.IndexModel
@using Microsoft.AspNetCore.Html
@{ 
    Layout = "_DisplayLayout";
}

@if (Model.CurrentPage == null)
{





}
else
{

    <div>
        @foreach(var comp in Model.CurrentPage.PageComponents)
                {

        @(new HtmlString(comp.Content))
                }

    </div>
    //Html.Raw(Model.CurrentPage.PageBody);
    
}

